#menu-bottom{
	position: absolute;


}

.menu {
	list-style: none;
	/*flex-1direction: row;		*/
	/*align-items: flex-start;  */
	/*display: inline-flex;		*/
	/*align-items: stretch;		*/
	padding: 0;
	margin: 0;
	margin: 0px 0px 0px 170px;
	font-family: "Segoe UI", wf_segoe-ui_normal, Arial, sans-serif;
	
}

.submenu {
	display: none;
	list-style: none;
	position: absolute;
	padding: 0;
	background-color: #F1F1F1;
	width: 200px;
	z-index: 500;
}

.submenu-line2 {
	list-style: none;
	position: absolute;
	display: none;
	float: left;
	background-color: #E5E5E5;
	left: 200px;
	width: 350px;
	padding: 0;
	margin: 0;
}

.menu-item {
	vertical-align: text-top;
	float: left;
	padding:  0px;
	width: 100px;
}

.submenu-item {
	margin: 0px;
	padding: 0px;
	position: relative;
	display: block;

	
}

.submenu-line2-item {
	padding: 0;
	margin: 0;
}

.menu-item-link {
	text-decoration: none;
	padding: 15.9px 17px;
	width: 66px;
	text-overflow: clip;
	display: block;

	
	
			 


}

.submenu-item-link {
	text-decoration: none;
	display: block;
	padding: 12px 18px;
	float: left;
			 
		 
	width: 164px;	
}

.submenu-line2-item-link {
	text-decoration: none;
	padding: 10px 20px;
	
	display: block;
}



.menu-item-link:hover {
	background-color: #F1F1F1;
	text-decoration: none;
}

.submenu-item-link:hover {
	background-color: #E5E5E5;
}

.submenu-line2-item-link:hover {
	background-color: #D9D9D9;
	text-decoration: underline;
}

.active .menu-item-link {
	background-color: #F1F1F1;
}	

.menu-item-link:not(:hover) {
	transition-duration: 0.5s;
}

.submenu-item-link:not(:hover) {
	transition-duration: 0.5s;
}

.submenu-line2-item-link:not(:hover) {
	transition-duration: 0.5s;
}

#logo-box {
	cursor: pointer;
	float: left;
 	margin-left: 25px;
}

nav {
	width: 100%;
  	height: 50px;
  	background-color: white;
  	padding: 0;
  	margin: 0;	/*какого без этого не работает красиво??? */
}

body {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.submenu > li:hover .submenu-line2 {
    display: block;
}

#logo {
	display: block;
    vertical-align: baseline;
    max-height: 23px;
    margin-top: 12px;
}

.menu a {
	color: #2f2f2f;
}

.menu a:visited {
	color: #2f2f2f;
}

.search {
	1margin: 5px 0px 0px 1200px;
	height: 50px;
	display: inline-block;
	float: right;
	padding: 5px 100px 0 0;
}
.search input, .search button {
	font-family: wf_segoe-ui_normal,Tahoma,Verdana,Arial,sans-serif;
	float: left;
	outline: none;
	color: white;
	width: 244px;
	height: 36px;
	padding: 0 10px;
	border: 1px solid #A9A9A9;
}

.search input {
	padding: 0 20px;
	margin: 0;
	font-size: 15px;
	line-height: 1.5;
	text-decoration: black;
}

.search button {
	width: 50px;
	padding: 0;
}

.hero_background-image-container {
	background-image: url("https://cfl.dropboxstatic.com/static/images/business/homepage/background--pc--female-vfl1oeEA8.jpg");
	margin-left: 60px;
    width: 100%;
	background-position: right center;
	background-repeat: no-repeat;
	height: 700px;
	z-index: -1;
	border-top: 1px solid #f7f7f7;
}

.hero_background-container {
	background-color: #f7f7f7;
	height: 700px;
	width: 100%;
	1position: absolute;

}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  }

/* latin */
@font-face {
  font-family: 'Open Sans Invision';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  
}

.hero-h1 {
	width: 450px;
	text-align: left;
	color: #47525d;
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-weight: 100;
	font-size: 47.25px;
	padding-top: 60px;
	line-height: 1.3em;
}

.hero-h2 {
	width: 400px;
	text-align: left;
	color: #47525d;
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-weight: 100;
	font-size: 21px;
	line-height: 31.5px;
}

.try-business-button {
	background-color: #0071E0;
	color: #FFFFFF;
	border-radius: 6px;
	line-height: 21px;
	padding: 19px 26px;
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-weight: 100;
	font-size: 21px;
	text-decoration: none;
	
}

.try-business-button:hover {
background-color: #2895F1;
}
.business-button {
	margin-top: 60px;
}

.hero_text-block {
	margin-left: 400px;

}

.hero_buy {
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-weight: 100;
	font-size: 16px;
	margin-top: 40px;
}

.hero_buy a{
	color: #0071E0;
}

.invisionapp-subs {
	background-color: #323a45;
	padding: 100px 0 100px 0;
	width: 100%;

}

.invisionapp-subs h2{
	font-family: "Open Sans Invision", "open-sans", sans-serif;
	font-weight: 300;
	font-size: 30px;
	margin: 0;
	color: white;
	text-align: center;
	
}


.invisionapp-subs>div{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	margin-top: 70px; 
}

.invisionapp-input{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	position: relative;
	margin-top: 70px;
}

.invisionapp-input>label{
	font-size: 18px;
    line-height: 1.8em;
    color: #747c83;  
    bottom: 15px;
    margin: 16px 0 0 50px;
    position: absolute;
    font-family: "Open Sans Invision", "open-sans", sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 33px;

}

.invisionapp-input>input{
	height: 25px;
	width: 215px;
	margin-left: 10px;
    padding: 18px 15px 18px 48px;
    border-radius: 3px;
    border: 1px solid #D4D7DA;


}

.invisionapp-input>button{
	padding: 21px 40px 19px;
    background: #ff3366;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    line-height: 1em;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	transition: background 0.3s;
	height: 63px;
	display: inline-block;
	margin-left: 10px;
}
	
.invisionapp-input>button:hover{
	background-color: #F42156;	
}

.invisionapp-subs p{
	font-size: 12px;
	line-height: 1.8em;
    color: #747c83;
    font-family: "Open Sans Invision", "open-sans", sans-serif;
	font-weight: normal;
	text-align: center;
	margin-top: 50px;
	
}

.invisionapp-subs p>a{
	color: #747c83;
}

.invisionapp-subs p>a:hover{
	color: white;
}

.bg1 {
	background-image: url(https://scontent.oculuscdn.com/t64.5771-25/11162714_283652092025521_547216123_n.jpg/eve-valkyrie.jpg); 
}

.bg2 {
	background-image: url(https://scontent.oculuscdn.com/t64.5771-25/12504834_1610504179262797_1233001088_n.jpg/luckys-tale.jpg); 
}

.bg3 {
	background-image: url(https://scontent.oculuscdn.com/t64.5771-25/12680264_165436440535334_659901318_n.jpg/oc3-stage-image.jpg); 
}

.oculus-bg {
	float: left;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: transform .3s, opacity .3s;
    
}

.oculus-item{
	height: 300px;
	width: 33%;
	float: left;
}

.oculus-item>a{
	color: #8d8e8f;	
	cursor: pointer;
	background-color: black;
	display: block;
	height: 100%;
}
